{{ define "content" }}
    <div class="starter-template">
        <h1>Ваша ссылка на скачивание файла:</h1>
        <p><a class="btn btn-lg btn-success" id="download-link" href="{{.link}}" role="button">Скачать файл</a></p>
        <br/>
        <p class="lead">Присоединяйтесь к нам:</p>
        <p>
            <a href="https://github.com/k8s-community"><img src="/static/icons/github.png" alt="GitHub"></a>
            <a href="https://twitter.com/k8s_community"><img src="/static/icons/twitter.png" alt="Twitter"></a>
            <a href="https://slack.k8s.community"><img src="/static/icons/slack.png" alt="Slack"></a>
            <a href="https://www.meetup.com/Kubernetes-Novosibirsk/"><img src="/static/icons/meetup.png" alt="Meetup"></a>
        </p>
    </div>
{{ end }}