{{ define "content" }}
<a href="http://k8s.community" target="_blank" class="navbar-right logo"><img src="/static/icons/k8s_community.jpg"></a>

<form class="form-horizontal" method="POST" action="/generate">
    <fieldset>
    
    <legend>Go REST сервис</legend>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="service_name">Имя сервиса</label>  
        <div class="col-md-6">
            <input id="service_name" name="service_name" type="text" placeholder="<myapp>" class="form-control input-md" required="">
            <span class="help-block">разрешены только a-z, -, 0-9 символы</span>  
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="service_description">Описание сервиса</label>
        <div class="col-md-4">                     
            <textarea class="form-control" id="service_description" name="service_description">My service &lt;app&gt; for k8s community workshop.</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="project_path">Go путь сервиса</label>  
        <div class="col-md-6">
            <input id="go_path" name="project_path" type="text" placeholder="github.com/<username>/<myapp>" class="form-control input-md">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="owner_name">Имя владельца</label>  
        <div class="col-md-6">
            <input id="owner_name" name="owner_name" type="text" placeholder="<Имя Фамилия>" class="form-control input-md">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="owner_email">E-mail владельца</label>  
        <div class="col-md-6">
            <input id="owner_email" name="owner_email" type="text" placeholder="<owner@email.com>" class="form-control input-md">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="generate_button"></label>
        <div class="col-md-4">
            <button id="generate_button" name="generate_button" class="btn btn-success">Сгенерировать код</button>
        </div>
    </div>
    
    </fieldset>
</form>

<p class="lead align-center">Присоединяйтесь к нам:</p>
<p class="align-center"><a href="https://github.com/k8s-community"><img src="/static/icons/github.png" alt="GitHub"></a>
    <a href="https://twitter.com/k8s_community"><img src="/static/icons/twitter.png" alt="Twitter"></a>
    <a href="https://slack.k8s.community"><img src="/static/icons/slack.png" alt="Slack"></a>
    <a href="https://www.meetup.com/Kubernetes-Novosibirsk/"><img src="/static/icons/meetup.png" alt="Meetup"></a>
</p>
{{ end }}